# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*            
!data/raw/.gitkeep    

data/processed/*      
!data/processed/.gitkeep  
!data/processed/sample_*   

# OS / IDE files
.DS_Store
.vscode/
